
<h1><a href="?">{{deslug config.grammar}}</a> <a href="?seed={{config.seed}}">&#x1f517;</a></h1>
<content>{{output.text}}</content>
<footer>
<a href="https://github.com/andytuba/basicbeach/blob/main/src/grammar/{{config.grammar}}.json" target="_blank">a tracery project</a> by <a href="https://twitter.com/andytuba" target="_blank">@andytuba</a>
<p><a href="/tracery">find something else</a></p>
{{#if output.attribution}}
<p>inspired by <a href="{{output.attribution}}" target="_blank">{{output.attribution}}</a></p>
{{/if}}
</footer>
