<nav>
    <a href="./" title="re-roll">&#x1f3b2;</a>
    <a href="?seed={{config.seed}}" title="permalink" class="persistent">&#x1f517;</a>
    <a href="https://github.com/andytuba/basicbeach/blob/main/src/grammar/{{config.grammar}}.json" target="_blank" title="source">&#x26F2;</a>
</nav>
<h1>
    <a tabindex="1" href="./"><span class="text">{{deslug config.grammar}}</span></a>
</h1>
<content tabindex="2">{{output.text}}</content>
<footer>
{{#if output.attribution}}
<p>inspired by <a href="{{output.attribution}}" target="_blank">{{output.attribution}}</a></p>
{{/if}}
<a href="https://github.com/andytuba/basicbeach/" target="_blank">a tracery project</a> by <a href="https://twitter.com/andytuba" target="_blank">@andytuba</a>
<p><a href="../">back to the index 📇</a></p>
</footer>
